body {
	padding: 10px;
}
/* .table {
	width: 50% !important;
} */
tr {
	cursor: pointer;
}
.tableStyle {
	display: inline-flex;
	width: 100%;
}
.writers table {
	margin: 5px;
}
#listado {
	display: none;
}
a,
a:visited,
a:hover,
a:active {
	color: inherit;
	text-decoration: none;
}
.btn-group {
	margin-bottom: 30px;
}
h2 {
	margin-left: 500px;
}
.addNotice {
	width: 70%;
	margin: auto;
	margin-top: 20px;
}
#pass {
	width: 30%;
	margin-top: 20px;
}
